.container {
  width: 98%;
}

#ig-fonts-text-era {
  width: auto;
  box-shadow: 0 5px 16px 1px rgba(0, 0, 0, 0.5);
  background: #ffffff;
  padding: 20px;
  margin: 20px auto;
  border-radius: 20px;
  color: #000000;
  font-size: 15px
  
  }
  
  .responsive-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  

.btn-info {
  color: #fff;
  background-color: #833ab4;
  border-color: #3f095e;
}
.panel-primary > .panel-heading {
  background-color: #833ab4;
}
.btn-info:active:hover,
.btn-info.active:hover,
.btn-info:hover {
  color: #fff;
  background-color: #e1306c;
  border-color: #833ab4;
}
a {
  color: #833ab4;
}
.navbar {
  min-height: 38px;
  height: 38px;
}
.emphasis {
  font-weight: 700;
}
.navbar-brand {
  height: 38px;
  padding: 8px 7px 8px 15px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 8px;
}
#addthis_nav {
  margin-top: 2px;
}
#moreInfoFBSymbols {
  font-size: 130%;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 20px;
  font-weight: 700;
}
#navbar-default {
  margin-bottom: 2px;
}
.panel-heading {
  padding: 7px 12px;
}
#list-font-preview-container,
#list-bigtext-preview-container,
#list-text-decor-preview-container {
  margin: 5px auto;
  width: 100%;
  clear: both;
}
#list-font-preview-container .font-preview-container .col-md-2 {
  margin-right: 0;
  padding-right: 0;
}
.col-md-9 {
  padding-left: 0;
  padding-right: 0;
}
#symbol-message {
  font-size: 32px;
  display: inline-block;
  width: 80%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin-top: 4px;
  margin-bottom: 6px;
  margin-left: 6px;
  margin-right: 5px;
}
#symbol-message-container {
  padding-right: 2px;
  padding-left: 2px;
  margin-bottom: 4px;
  text-align: center;
  visibility: hidden;
}
.customize_btn_container button {
  margin-left: 4px;
}
#copy-btn,
#clear-btn {
  padding-right: 8px;
  padding-left: 4px;
  margin-right: 3px;
  margin-top: -16px;
}
.font-preview-content {
  width: 100%;
  background: #fff;
  border: 1px solid #e9eaeb;
}
.font-preview-container {
  margin: 0 0 4px;
  padding: 3px 10px;
  background: #eef0f3;
  vertical-align: middle;
}
.bigtext-preview-container {
  margin: 0 0 30px;
  padding: 10px;
  background: #eef0f3;
  vertical-align: middle;
}
#moreBtnContainer {
  text-align: center;
}
#moreBtnContainer #moreBtn {
  font-size: 120%;
  font-weight: 700;
  display: inline-block;
  padding: 10px 20px;
  color: #833ab4;
  cursor: pointer;
}
#fancy_container,
#fancy_container .font-preview-container {
  background-color: #ffeee6;
}
#fancy_style_select {
  width: 100%;
  display: block;
  height: 35px;
  padding-left: 15px;
  font: 25px Verdana, arial black, arial bold, Gadget, sans-serif;
  border: 0;
  background: #eee;
  -moz-border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
  border-radius: 25px 25px 25px 25px;
  outline: 0;
}
#fancy_output {
}
.font-preview-content-container {
  padding: 6px 3px;
}
.font_title {
  text-align: left;
  vertical-align: middle;
  font-size: 16px;
  position: relative;
  padding-top: 9px;
  padding-right: 0;
  margin-right: 0;
}
#font_title_sponsored,
#font_title_sponsored_2 {
  padding-top: 22px;
}
#font_title_sponsored_decorator {
  padding-top: 22px;
}
.adsense_ad {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#middleText_banner_adsense .font-preview-content-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#middleText_banner_adsense .font_title {
  padding-top: 22px;
}
#middleText_banner_adsense .copy_btn_container,
.customize_btn_container {
  padding-top: 22px;
}
#middleText_banner_adsense {
  padding: 1px 10px;
}
.bigtext-preview-container .font_title {
  height: 100px;
}
.font_title span {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.copy_btn_container,
.customize_btn_container {
  text-align: left;
  padding-left: 12px;
}
.bigtext-preview-container .font_title,
.bigtext-preview-container .copy_btn_container {
  padding: 56px 10px 6px;
}
#bigtext-preview-container-style3 .font_title,
#bigtext-preview-container-style3 .copy_btn_container {
  padding: 45px 10px 6px;
}
.site_link {
  display: inline-block;
  padding: 8px 2px 3px;
  font-weight: 700;
  font-size: 16px;
  float: left;
}
.center,
.introduction.center {
  text-align: center;
}
.font-preview-content-container input[type="text"] {
  padding: 1px 3px;
  color: #000;
  border: none;
  font-size: 24px;
  font-family: Arial Unicode MS, lucida grande, tahoma, verdana, arial,
    sans-serif;
  letter-spacing: 1px;
}
.font_title,
.copy_btn_container,
.customize_btn_container {
  vertical-align: middle;
  padding-top: 9px;
  margin-top: 3px;
  padding-left: 2px;
}
.customize_btn_container {
  text-align: center;
}
#title_brand {
  display: inline-block;
  margin-top: -6px;
  color: #e1306c;
}
.introduction {
  text-align: justify;
  line-height: 1.65;
  margin-bottom: 6px;
}
.introduction div {
  margin-bottom: 6px;
}
.appinfo {
  text-align: center;
  margin: 10px 5px;
 
}
#title_brand a {
}
#social_btn {
  text-align: right;
}
#fb-like-container {
  display: block;
  float: right;
  margin-top: 8px;
  margin-right: 8px;
}
#addthis_box_container_small {
  display: block;
  margin: 15px auto 5px;
  text-align: center;
}
#addthis_box_container {
}
#donate_button_cointainer {
  float: right;
  margin-top: 4px;
  margin-left: 6px;
  margin-right: 0;
  padding-right: 0;
}
#social_box {
  text-align: center;
}
#addthis_box_container_fancy_text {
  display: block;
  text-align: center;
  margin: 10px 8px;
}
#search-btn {
  padding-left: 15px;
  padding-right: 15px;
}
#search-emojis-input {
  font-size: 18px;
  width: 100%;
  font-family: Verdana, Arial, Helvetica, sans-serif, times new roman, Georgia,
    Serif;
}
#search-emojis-results {
  margin: 15px 5px 5px;
}
#current_symbol_title {
  text-align: center;
  font-size: 115%;
}
#current_hovered_symbol,
#current_hovered_kawaii {
  font-size: 150%;
}
#text_panel {
  margin-bottom: 3px;
}
#adsense_side_ad {
  padding-top: 15px;
  margin-left: -15px;
  padding-left: 0;
  padding-right: 0;
}
#search-btn {
  background-color: #75caeb;
}
.panel-body {
  padding: 4px 2px 1px 3px;
}
.btn {
  padding: 5px 18px 4px;
}
.nav-tabs > li {
  font-weight: 700;
}
.text_center_align {
  text-align: center;
}
#adsense_top_ad {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#adsense_bottom_ad {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#adsense_before_emojis {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.nav-tabs > li a {
  padding-left: 4px;
  padding-right: 4px;
}
.aligncenter {
  text-align: center;
}
#recent_symbols {
  margin-top: 5px;
  text-align: center;
}
.emoji-example {
  margin-bottom: 8px;
}
.emoji-example-image {
  text-align: center;
  max-width: 100%;
}
.emoji-example-image img {
  max-width: 55%;
  max-height: 450px;
}
.emoji-example-code {
  padding-top: 10px;
}
.emoji-example-code .addthis_sharing_toolbox {
  display: none;
  float: right;
}
textarea.emoji-example-code-preformatted {
  display: block;
  padding: 4px;
  margin: 0 0 10px;
  word-break: break-word;
  word-wrap: break-word;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}
#navbar-brand-logo h1,
#navbar-brand-logo h2 {
  font-size: 150%;
  display: inline-block;
}
.clear {
  clear: both;
}
#link_list .href_link {
  font-weight: 700;
  color: #833ab4;
  font-size: 115%;
}
#message-title {
  float: left;
}
#copy_notification {
  font-style: normal;
  font-weight: 700;
  color: green;
}
#about-us-container {
  padding: 20px 10px;
  font-size: 120%;
  text-align: justify;
}
#about-us-container-second {
  padding-top: 10px;
}
.emoji-shortcode {
  margin-left: 12px;
  font-size: 110%;
}
.emoji-shortcode-container {
  margin-top: 8px;
  cursor: pointer;
}
#current_hovered_symbol_code_container {
  text-align: center;
  margin-top: 8px;
}
.copy_notification_text {
  color: green;
  font-weight: 700;
}
#auto_copy_option {
  float: right;
}
.eq {
  margin-left: 4px;
  margin-bottom: 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  border-style: outset;
  border: 1px solid #d3d3d3;
  border-color: #000;
  background-color: #fff;
  display: inline-block;
  width: 51px;
  height: 51px;
  font-size: 30px;
  line-height: 51px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}
.eq:hover {
  background-color: #ccf5ff;
}
.cs {
  margin-left: 4px;
  margin-bottom: 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  border-style: outset;
  border: 1px solid #d3d3d3;
  border-color: #000;
  background-color: #fff;
  display: inline-block;
  width: 51px;
  height: 51px;
  font-size: 30px;
  line-height: 51px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  cursor: pointer;
}
.cs:hover {
  background-color: #ccf5ff;
}
.cs.ta {
  margin-left: 8px;
  margin-bottom: 13px;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  cursor: pointer;
}
.cs.ta pre {
  font-size: 11px;
  line-height: 11px;
  overflow: hidden;
  cursor: pointer;
}
#symbols-content-container {
  padding-top: 15px;
  margin-left: 12px;
  cursor: pointer;
}
#category_list li a {
  color: brown;
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px;
}
#bigtext_style1 {
  width: 100%;
  height: 100px;
  font-family: lucida grande, tahoma, verdana, arial, sans-serif;
  line-height: 1;
  overflow: scroll;
  padding-top: 15px;
  white-space: pre;
  word-wrap: normal;
}
#bigtext_style2 {
  width: 100%;
  height: 135px;
  font-family: lucida grande, tahoma, verdana, arial, sans-serif;
  line-height: 1;
  overflow: scroll;
  padding-top: 15px;
  white-space: pre;
  word-wrap: normal;
}
#bigtext_style3 {
  width: 100%;
  height: 135px;
  font-family: lucida grande, tahoma, verdana, arial, sans-serif;
  line-height: 1;
  overflow: scroll;
  padding-top: 25px;
  white-space: pre;
  word-wrap: normal;
}
.introduction div.big_text_example {
  margin-top: 10px;
  margin-bottom: 25px;
  line-height: 1;
  font-family: lucida grande, tahoma, verdana, arial, sans-serif;
}
#symbols_img_illustration {
  text-align: center;
}
#select_style_instruction {
  margin-top: 8px;
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 125%;
}
#font_selection {
  display: block;
  width: 100%;
  height: 43px;
  font-size: 110%;
  font-weight: 700;
  border: 2px solid #833ab4;
}
.font-preview-content-container .text-decoration-content {
  text-align: center;
}
#aboveText_banner_adsense,
#bottom_banner_adsense,
#middleText_banner_adsense,
#below_textinput_adsense,
#aboveTextDecoration_banner_adsense {
  margin: 2px auto;
  text-align: center;
  padding: 0;
}
#below_textinput_adsense {
  margin-top: 8px;
  margin-bottom: 4px;
}
#top_banner_adsense {
  text-align: center;
  margin: 0 auto 7px;
  min-height: 90px;
}
#beforeInput_banner_adsense {
  margin: 2px auto;
  text-align: center;
  padding: 0;
}
#emoticon_text .eq {
  margin-left: 12px;
  margin-bottom: 15px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  border-style: outset;
  border: 1px solid #d3d3d3;
  border-color: #000;
  background-color: #fff;
  display: inline-block;
  width: 300px;
  height: 60px;
}
#emoticon_text .eq {
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
}
#emoticon_text .eq {
  font-size: 27px;
  line-height: 58px;
  height: 58px;
}
#emoticon_text .cs {
  margin-left: 12px;
  margin-bottom: 15px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  border-style: outset;
  border: 1px solid #d3d3d3;
  border-color: #000;
  background-color: #fff;
  display: inline-block;
  width: 300px;
  height: 60px;
}
#emoticon_text .cs {
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
}
#emoticon_text .cs {
  font-size: 27px;
  line-height: 58px;
  height: 58px;
}
.navbar-nav > li > a {
  padding-top: 3px;
  padding-bottom: 3px;
}
#link_list {
  width: 70%;
}
#fb-fanpagebox {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
div.main_content {
}
#guessemoji_ad {
  width: 250px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
#guessemoji_ad .guessemoji_intro {
  color: #333;
  font-family: raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 6px;
  margin: 15px 0 5px;
  text-align: center;
  text-transform: uppercase;
}
.site_navigation {
  font-size: 115%;
  color: #833ab4;
}
#introduction {
  font-size: 123%;
}
#introduction.introduction-invididual {
  text-align: center;
}
.panel-heading .accordion-toggle:after {
  font-family: glyphicons halflings;
  content: "\e114";
  float: right;
  color: #fff;
}
.panel-heading .accordion-toggle.collapsed:after {
  content: "\e080";
}
#top_banner_ft_ads {
  margin: 3px 0;
  text-align: center;
  max-width: 800px;
  float: left;
}
#top_notification a {
  color: #ff6550;
}
.emoji_keyboard_online {
  color: #db3236;
  font-weight: 700;
}
li.img {
  text-align: center;
}
li.img img {
  width: 75%;
}
#inserted_notif_msg {
  background-color: hsla(0, 0%, 100%, 0.8);
  border: 2px solid #eee;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 18pt;
  position: absolute;
  top: -15000px;
  padding: 0;
  margin: 0;
  color: #ff6550;
}
#inserted_notif_msg.disappearing {
  -webkit-transition: visibility 1.25s, -webkit-transform 1.25s;
  transition: visibility 1.25s, transform 1.25s;
  transition-delay: 0.25s;
  transform: scale(0);
}
#before_symbols_in_fancytext_dsk {
  margin: 0 auto;
  text-align: center;
}
#after_introduction {
  margin: 2px auto;
  text-align: center;
}
#first_inside_font {
  margin: 15px auto;
  text-align: center;
}
.sponsored_ad {
  text-align: center;
  margin: 10px auto;
}
#inside_font_noname1,
#inside_font_noname2 {
  text-align: center;
  margin: 10px auto;
}
#ec_intro {
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
#navbar-default .container {
  width: 100%;
}
.item_active {
  font-weight: 700;
}
#cftg_app_ios,
#cftg_app_android {
  display: none;
}
#cftg_app_ios .font_title,
#cftg_app_android .font_title {
  text-align: center;
}
#cftg_app_ios a,
#cftg_app_android a {
  color: #ff6550;
}
#more_decoration_styles,
#cftg_app_ios,
#cftg_app_android,
#list-font-preview-container .more_tools_styles,
#list-text-decor-preview-container .more_tools_styles {
  text-align: center;
  font-size: 150%;
  font-weight: 700;
  padding-top: 2px;
  padding-bottom: 2px;
}
#list-font-preview-container .more_tools_styles a,
#list-text-decor-preview-container .more_tools_styles a {
  color: #555;
}
#list-font-preview-container .more_tools_styles a:hover,
#list-text-decor-preview-container .more_tools_styles:hover {
  color: #ff6550;
  text-decoration: none;
}
#instruction {
  font-size: 17px;
  margin: 6px 0 3px;
  text-align: center;
}
#fancytext_cnp_message {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 12px;
  margin-top: 0;
  padding-left: 15px;
  background-color: #ff0;
  color: #333;
  display: none;
  padding-top: 12px;
  padding-bottom: 12px;
}
#fancytext_cnp_message .notice {
  color: red;
}
#first_inside_font {
  padding: 12px 0;
}
@media only screen and (max-width: 760px) {
  #aboveText_banner_adsense {
    padding: 9px 0 15px;
    max-height: 310px;
  }
  #aboveTextDecoration_banner_adsense {
    padding: 9px 0 15px;
    max-height: 310px;
  }
  #top_banner_adsense {
    padding: 9px 0 15px;
    max-height: 310px;
  }
  #first_inside_font {
    padding: 30px 0;
  }
  #inside_font_huge_portrait {
    padding: 15px 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  #inside_font_noname1,
  #inside_font_noname2 {
    padding: 15px 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .sponsored_ad {
    padding: 15px 0;
  }
  #bottom_banner_adsense {
    padding: 15px 0;
  }
  .adsense_ad {
    padding: 15px 0;
  }
  #addthis_box_container,
  #addthis_box_container_small {
    margin-top: 1px;
    margin-bottom: 1px;
  }
  .font-preview-content-container input[type="text"].text-decoration-content {
    font-size: 10px;
    padding: 1px 0;
  }
  .font-preview-content-container {
    padding: 4px 2px;
  }
  .font-preview-content-container input[type="text"] {
    font-size: 20px;
  }
  #more_decoration_styles {
    font-size: 110%;
  }
  #navbar-default {
    margin-top: 3px;
    margin-bottom: 1px;
    padding-top: 0;
    padding-bottom: 0;
  }
  #navbar-brand-logo {
    padding-top: 4px;
    padding-bottom: 1px;
  }
  .navbar-brand {
    padding: 2px 4px 2px 2px;
    height: 100%;
    height: 30px;
  }
  .navbar {
    min-height: 30px;
    height: 34px;
  }
  #title_brand {
    margin-bottom: 2px;
  }
  .navbar-collapse {
    background: #833ab4;
    color: #fff;
    font-size: 120%;
  }
  .navbar-collapse .navbar-nav li a {
    color: #fff;
  }
  .navbar-collapse .navbar-nav li a:active,
  .navbar-collapse .navbar-nav li a:hover {
    color: #ff6550;
  }
  .navbar-collapse .nav li {
    margin-bottom: 9px;
  }
  .navbar-default .navbar-toggle {
    margin: 0 5px;
    padding: 7px 10px;
    border-color: #833ab4;
  }
  .panel-group {
    margin-bottom: 0;
  }
  .panel-heading {
    padding: 4px 10px;
  }
  #converting_text {
    font-size: 20px;
  }
  .col-md-3,
  .col-md-9 {
    padding-right: 0;
    padding-left: 0;
  }
  #list-font-preview-container,
  #list-bigtext-preview-container,
  #list-text-decor-preview-container {
    margin-top: 5px;
  }
  .font-preview-container {
    padding: 1px 3px 1px 5px;
    margin-bottom: 10px;
  }
  .copy_btn_container,
  .customize_btn_container {
    padding: 3px 2px;
    margin: 3px;
  }
  .font_title {
    vertical-align: middle;
    padding-top: 1px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .font-preview-content-container {
    padding: 1px;
  }
}
#main_content {
  padding-left: 1px;
  padding-right: 1px;
}
#comment_introduction {
  text-align: center;
  font-weight: 700;
  font-size: 110%;
}
#comment_invitation {
  text-align: center;
  font-weight: 700;
  font-size: 125%;
  margin-top: 15px;
  margin-bottom: 15px;
}
#comment_invitation a {
  color: #ff6550;
}
#sidebar_rectangle_ad {
  text-align: center;
  max-width: 306px;
  margin-left: auto;
  margin-right: auto;
}
.checked {
  color: orange;
}
#ratingBox {
  text-align: center;
  margin-bottom: 10px;
}
#ratingText {
  display: inline;
  font-style: italic;
}
#ratingText div {
  display: inline;
}
#joke_of_the_day_panel {
  display: none;
}
#joke_of_the_day_div {
  padding: 8px 12px 3px;
  line-height: 1.5;
}
#joke_of_the_day_div a {
  color: #ff6550;
  font-weight: 700;
  display: inline-block;
  margin-top: 5px;
}
.section_title {
  font-size: 15px;
}
.section_title h2 {
  color: #833ab4;
  font-size: 22px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
.section_content {
  margin-bottom: 10px;
}
.panel {
  margin-bottom: 2px;
}
#list-font-preview-container .col-md-2.font_title {
  text-align: right;
}
.font_name {
  display: block;
  float: left;
}
#comments_section {
  text-align: center;
  margin: 2px auto;
}
.font-preview-content-container input[type="image"]:hover {
  opacity: 0.8;
}
#share-to-fb-to-reveal-button {
  display: none;
}
.other_special_symbol_description {
  font-size: 18px;
}
.other_special_symbol_container {
  display: inline-block;
  margin-right: 75px;
}
.get_symbols_instruction {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 10px;
}
.alt-codes {
  font-family: trebuchet ms, Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.alt-codes td,
.alt-codes th {
  padding: 8px 2px 2px;
  text-align: center;
}
.alt-codes td {
  border: 1px solid #ddd;
}
.alt-codes th {
  border: 1px solid #ddd;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}
.alt-codes td.alt-code {
  font-size: 175%;
}
.alt-codes td.alt-code,
.alt-codes th.alt-code {
  border-right: 2px solid #333;
}
.alt-codes td:first-child,
.alt-codes th:first-child {
  border-left: 2px solid #333;
}
#non-printing-chars-table.alt-codes th,
#non-printing-chars-table.alt-codes td {
  border: 2px solid #333;
  height: 68px;
}
.alt-codes tr:nth-child(even) {
  background-color: #f2f2f2;
}
.alt-codes tr:hover {
  background-color: #d1eefa;
}
.alt-codes th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #833ab4;
  color: #fff;
}
.symbol-content-alt-code .cs {
  width: 45px;
  height: 45px;
  font-size: 36px;
  line-height: 43px;
}
.symbol-content-alt-code .cs.small {
  width: 45px;
  height: 45px;
  font-size: 18px;
  line-height: 38px;
}
#alt-codes-mobile .symbol-content-alt-code .cs {
  width: 41px;
  height: 41px;
  font-size: 32px;
  line-height: 38px;
}
#use-alt-key-codes {
  width: 70%;
  margin: 10px auto;
}
#use-alt-key-codes .intro {
  font-size: 125%;
  font-weight: 700;
}
#use-alt-key-codes .step {
  font-size: 115%;
}
#symbols-content-container .get_symbols_instruction {
  font-size: 22px;
  font-weight: 700;
  margin-top: 4px;
  margin-bottom: 8px;
  text-align: center;
}
#brain_quiz_320x50 {
  width: 100%;
  background-color: #fff;
  text-align: center;
  margin: 0 auto auto 0;
  padding-top: 10px;
  padding-bottom: 6px;
}
@media only screen and (max-width: 768px) {
  #symbols-content-container .get_symbols_instruction {
    font-size: 16px;
    text-align: left;
  }
  #symbols_container {
  }
  #navbar-brand-logo h1,
  #navbar-brand-logo h2 {
    font-size: 105%;
    display: inline;
  }
  .site_link {
    display: inline-block;
    padding: 5px 2px 3px;
    font-weight: 700;
    font-size: 14px;
  }
}
#copy_instruction {
  text-align: center;
  margin: 10px 2px;
}
@media only screen and (device-width: 768px) {
  .site_link {
    padding-top: 10px;
  }
}
.sticky-ads-container {
  position: fixed;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  bottom: 0;
  z-index: 2001;
  background-color: #fff;
}
.sticky-ads {
  width: 970px;
  height: 90px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
@media only screen and (min-width: 800px) {
  #wrapper {
    margin-bottom: 100px;
  }
}
@media only screen and (max-width: 768px) {
  #sticky-ads-container-mobile {
    position: fixed;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    top: 0;
    z-index: 2001;
    width: 100%;
  }
  .sticky-ads-container {
    width: 100%;
  }
  #wrapper {
    margin-bottom: 100px;
  }
}
@media only screen and (max-width: 760px) {
  .sticky-ads {
    width: 320px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }
  .dsk_only {
    display: none !important;
  }
  .introduction {
    margin-bottom: 3px;
    font-size: 110%;
  }
  .introduction-content {
    padding: 8px;
  }
  .btn {
    padding: 2px 8px;
  }
  #mobile_app_link img {
    margin-top: -3px;
  }
  .navbar-default .navbar-toggle {
    margin: 0 0 0 1px;
    padding: 7px;
  }
  .nav > li > a {
    position: relative;
    display: block;
    padding: 3px 5px;
  }
  .nav-tabs > li > a:hover,
  .nav-tabs > li > a:focus,
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus,
  .nav-tabs .open > a,
  .nav-tabs .open > a:hover,
  .nav-tabs .open > a:focus {
    padding-bottom: 6px;
    color: #ff6550;
  }
  #adsense_top_ad {
    margin-bottom: 5px;
    margin-top: -8px;
  }
  textarea {
    font-size: 16px;
  }
  .capitalize {
    text-transform: capitalize;
  }
  #converting_text {
    font-size: 20px;
    width: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border: 1px solid #bcc5ce;
    padding: 3px 5px 3px 8px;
    color: #4d4d4d;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
  }
  .copy_btn_container,
  .customize_btn_container {
    padding: 2px;
    margin: 2px 3px 1px;
  }
  #introduction {
    margin-left: 5px;
    margin-right: 5px;
  }
  #show_more_fonts_mobile {
    margin: 10px auto;
    text-align: center;
    padding: 10px 0;
  }
  #emoticon_text .eq.long {
    padding-top: 13px;
    font-size: 13px;
    line-height: 29px;
  }
  #emoticon_text .cs.long {
    padding-top: 13px;
    font-size: 13px;
    line-height: 29px;
  }
  .cs.ta pre {
    font-size: 7px;
    line-height: 7px;
  }
  #category_list li a {
    color: brown;
    font-size: 14px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 4px;
  }
  #list-font-preview-container .more_tools_styles,
  #list-text-decor-preview-container .more_tools_styles {
    font-size: 120%;
  }
  .bigtext-preview-container .font_title,
  .bigtext-preview-container .copy_btn_container {
    padding: 5px 10px;
  }
  #bigtext-preview-container-style3 .font_title,
  #bigtext-preview-container-style3 .copy_btn_container {
    padding: 5px 10px;
  }
  .bigtext-preview-container .font_title {
    height: auto;
  }
  .bigtext-preview-container textarea {
    font-size: 8px;
  }
  #bigtext_style1 {
    height: 60px;
  }
  #bigtext_style2,
  #bigtext_style3 {
    height: 80px;
  }
  #main_content_for_big_text {
    padding-left: 0;
    padding-right: 0;
  }
  .bigtext-preview-container {
    padding: 7px 3px;
  }
  .get_symbols_instruction {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 4px;
    margin-top: 4px;
  }
  #symbols-content-container {
    padding-top: 2px;
    margin-left: 1px;
    padding-left: 3px;
    padding-right: 3px;
  }
  .section_title h2#first_section_title {
    margin-top: 2px;
  }
  #use-alt-key-codes {
    width: 95%;
  }
  #symbol-message-container {
    display: none;
  }
  #symbols_img_illustration img {
    max-width: 99%;
  }
}
@media only screen and (min-width: 800px) {
  .symbol-content-individual .cs {
    width: 73px;
    height: 73px;
    font-size: 47px;
    line-height: 73px;
  }
  #list-font-preview-container {
    overflow-x: hidden;
  }
  #list-text-decor-preview-container {
    max-height: 380px;
    overflow-y: scroll;
  }
  #introduction {
    margin-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media only screen and (min-width: 768px) {
  .mobile_only {
    display: none !important;
  }
  .introduction {
    font-size: 120%;
    padding-left: 0;
    padding-right: 0;
  }
  #symbols_img_illustration img {
    max-width: 45%;
  }
  .col-md-9.main_content {
    padding-right: 32px;
  }
  #converting_text {
    font-size: 20px;
    width: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background: url(/web/20200426210836im_/https://instagramfonts.org/images/pen.png)
      no-repeat scroll 10px 6px #fff;
    border: 1px solid #bcc5ce;
    padding: 5px 15px 5px 50px;
    color: #4d4d4d;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-border-radius: 15px;
  }
  .font-preview-content-container input[type="text"] {
    height: 36px;
  }
  #emoticon_text .eq.long {
    width: 614px;
  }
  #emoticon_text .cs.long {
    width: 614px;
  }
}
.mymodal {
  display: block;
  visibility: hidden;
  z-index: 10000;
  left: 0;
  top: 15%;
  width: 75%;
  height: 100%;
  overflow: scroll;
}
#myModal .close {
  color: #fff;
  opacity: 0.8;
  float: none;
}
#myModal .close:hover,
#myModal .close:focus {
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
}
.modal-header {
  padding: 2px 7px;
  background-color: #52aacc;
  color: #fff;
  text-align: center;
  word-wrap: break-word;
}
#modal_header {
  margin-top: 6px;
  margin-bottom: 6px;
  word-wrap: break-word;
}
.modal-body {
  padding: 20px 4px 35px;
}
.modal-footer {
  padding: 5px 15px;
  background-color: #52aacc;
  color: #fff;
  text-align: center;
}
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 99%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
#myModal .the_copied_text {
  font-weight: 700;
  font-size: 102%;
}
#myModal .symbol_content .the_copied_text {
  font-weight: 700;
  font-size: 204%;
}
#myModal .emphasis {
  font-weight: 700;
}
#myModal .the_copied_text_description {
  font-weight: 400;
  font-size: 82%;
}
#ads_in_modal {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  min-height: 315px;
}
h3.close {
  margin-top: 10px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 790px) {
  .mymodal {
    top: 7%;
    width: 100%;
    height: 100%;
  }
  .modal-body {
    padding: 5px 0 20px;
  }
  #myModal .the_copied_text {
    font-weight: 700;
    font-size: 92%;
  }
  #myModal .symbol_content .the_copied_text {
    font-weight: 700;
    font-size: 220%;
  }
  #myModal .the_copied_text_description {
    font-weight: 400;
    font-size: 68%;
  }
  .modal-header {
    padding: 2px;
    word-wrap: break-word;
  }
  #modal_header {
    word-wrap: break-word;
    margin-top: 2px;
    margin-bottom: 4px;
    line-height: 1;
  }
  .modal-footer {
    padding: 5px 15px;
  }
  h3.close {
    margin-top: 5px;
    margin-bottom: 8px;
  }
}
